.places-container {
    color: var(--bg-dark);
    background-color: var(--bg-light-white);
    overflow: hidden;

}


.content-title {
    font-size: 22px;
    font-weight: 600;
}

.places-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.place-card {
    background-color: var(--bg-white);
    box-shadow: 0px 0px 3px #000000;
    width: 230px;
    margin: 20px;
    transition: 0.4s;
    position: relative;
    border-radius: 2px;
}

.place-card:hover {
    transform: scale(1.05);
}

.place-card img {
    width: 200px;
    height: 130px;
    border-radius: 4px;
}

.place-card-title {
    font-size: 22px;
    font-weight: bold;
}

.place-card-content {
    font-size: 12px;
}

.place-card .show-more-btn {
    background-color: var(--color-main2);
    color: var(--color-white);
    font-size: 12px;
}

.place-card .open-arrow {
    position: absolute;
    right: 20px;
    bottom: 10px;
    transition: 0.4s;
}

.place-card .open-arrow:hover {
    transform: scale(1.2);
}

.open-arrow i {
    font-size: 26px;
    color: var(--color-main2);
    cursor: pointer;
}

.go-back-section {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.go-back-section .btn {
    background-color: var(--color-main2);
    color: white;
    border: 1px solid var(--color-main2);
    padding: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
}

.go-back-section .btn:hover {
    color: var(--color-main2);
    background-color: white;
    border: 1px solid var(--color-main2);
}

/*-------------------- place container end-------------------- */


@media screen and (max-width : 576px) {
    .place-card {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 10px 15px;
    }

    .place-card img {
        width: 150px;
        height: 110px;
    }

    .place-card:hover {
        transform: scale(1.05);
    }

    .place-card-title {
        font-size: 16px;
        font-weight: bold;
    }
}

/*-------------------- screen size below 576 end-------------------- */